body{
    font-family: "Arial";
    color: pink;
    text-align: center;
}

#container{
    border: 1px solid gray;
    margin: 0 auto;
}

#post h1{
    font-size: 20px;
}

#cabecera{
    color: white;
    font-size: 32px;
    background-color: gray;
}

#footer{
    display: flex;
    border: 1px solid orange;
    background-color: gray;
    justify-content: center;
    align-items: center;
    color: white;
    height: 100px;
}