body{
    font-family: "Arial";
    color: pink;
    text-align: center;
}

#container{
    border: 1px solid gray;
    margin: 0 auto;
}

#post h1{
    font-size: 20px;
}

#cabecera{
    color: white;
    font-size: 32px;
    background-color: gray;
    padding-bottom: 10px;
    padding-top: 15px;
}

#spanImg{
    padding: 10px;
}
#cabecera img{
    height: 50px;
    vertical-align: middle;
}

#tagline{
    padding-bottom: 10px;
}

#footer{
    border: 1px solid orange;
    background-color: gray;
    text-align:center;
    color: white;
    padding: 20px 0;
}